<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/update}" th:object="${user}">
    <input type="hidden" th:field="*{id}"/>
    <label for="name">Enter name: </label>
    <input th:type="text" th:field="*{name}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <br/>
    <label for="age">Enter age: </label>
    <input th:type="text" th:field="*{age}" id="age">
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name error</div>
    <br/>
    <br/>
    <label for="username">Enter username: </label>
    <input th:type="text" th:field="*{username}" id="username">
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
    <br/>
    <br/>
    <label for="password">Enter password: </label>
    <input th:type="password" th:field="*{password}" id="password">
    <input type="hidden" th:field="*{currentPassword}" th:value="${user.password}">
    <br/>
    <br/>
    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${user.getRoles()}"
                   th:text="${role.getName()}"
                   th:value="${role.getId()}"
                   th:field="*{roles}"
            />
            <div style="color: red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Name error</div>
        </label>
    </p>
    <br/>
    <a th:href="@{/admin}" class="button">Back</a>
    <br/>
    <input th:type="submit" value="Update"/>
</form>
</body>
</html>