<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div th:object="${user}">
    <p>ID: <span th:text="*{id}"></span></p>
    <p>Имя: <span th:text="*{name}"></span></p>
    <p>Возраст: <span th:text="*{age}"></span></p>
    <p>Имя пользователя: <span th:text="*{username}"></span></p>
    <p>Роль: <span th:each="role : ${user.roles}" th:text="${role.getName()} + ' '"></span>
    </p>
</div>
<br/><br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выход">
</form>
</body>
</html>